.nav-login {
	margin:0 10px;
}

.nav-login .glyphicon{
	margin:0 10px;
}

.form-center {
	margin: 0 auto;
	width: 400px;
}


.form-center button{
	width: 100%;
}

#task-table {
	table-layout: fixed;
}

#task-table td {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#task-table .number {
	width:5%;
}

#task-table .name {
	width:15%;
}

#task-table .description {
	width:25%;
}

#task-table .status {
	width:10%;
}

#task-table .priority {
	width:10%;
}

#task-table .hosts {
	width:10%;
}

#task-table .control-buttons {
	width:15%;
}