{% extends 'base.html' %}
{% load static %}

{% block javascript %}
	<script src="{% static 'js/tasks.js' %}"></script>
{% endblock %}

{% block content %}
<h1 class="page-header">Task list avaiable</h1>
<table class="table" id = "task-table">
	<thead>
		<tr>
			<th class = "number">№</th>
			<th class = "name">Task Name</th>
			<th class = "description">Description</th>
			<th class = "status">Status</th>
			<th class = "priority">Priority</th>
			<th class = "hosts">Host</th>
			<th class = "control-buttons"></th>
		</tr>
	</thead>
	<tbody>
		{% include 'user_profile/add_task_list.html' %}
	</tbody>
</table>
<p>
	<button type="button" class="btn btn-primary js-create-task"
		data-url = "{% url 'profile:add_task'%}">
		<span class="glyphicon glyphicon-plus"></span>
		Add task
	</button>
</p>

<div class="modal fade" id="modal-task">
	<div class="modal-dialog">
		<div class="modal-content">
		</div>
	</div>
</div>
{% endblock %}